.timeline {
  overflow: hidden;
  position: relative;
}
.timeline:before {
  background-color: #587692;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 0;
  width: 4px;
}
.timeline .columns {
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline .columns>li:nth-child(2n+1) {
  clear: left;
  float: left;
  width: 50%;
}
.timeline .columns>li:nth-child(2n+1) .timeline-item {
  float: right;
  left: 0;
  margin-right: 100px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.timeline .columns>li:nth-child(2n+1) .timeline-item:after {
  right: -108px;
  top: 44px;
}
.timeline .columns>li:nth-child(2n+1) .timeline-item:before {
  right: -90px;
  top: 50px;
}
.timeline .columns>li:nth-child(2n+2) {
  clear: right;
  float: right;
  margin-top: 70px;
  width: 50%;
}
.timeline .columns>li:nth-child(2n+2) .timeline-item {
  float: left;
  margin-left: 100px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 0;
}
.timeline .columns>li:nth-child(2n+2) .timeline-item:after {
  left: -108px;
  top: 44px;
}
.timeline .columns>li:nth-child(2n+2) .timeline-item:before {
  left: -90px;
  top: 50px;
}
.timeline .date-separator {
  clear: both;
  height: 60px;
  position: relative;
  text-align: center;
}
.timeline .date-separator a {
  background-color: #51BBA5;
  border: 2px solid transparent;
  color: #fff;
  font-size: 1em;
  height: 40px;
  left: 50%;
  line-height: 36px;
  margin: -9px 0 0 -100px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 200px;
}
.timeline .date-separator a:hover {
  background-color: #333;
  border-color: #98adc8;
  color: #98adc8;
}
.timeline .date-separator span {
  background-color: #98adc8;
  border: 2px solid transparent;
  color: #fff;
  font-size: 1em;
  height: 40px;
  left: 50%;
  line-height: 36px;
  margin: -16px 0 0 -100px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 200px;
}
.timeline .date-separator span:hover {
  background-color: #333;
  border-color: #98adc8;
  color: #98adc8;
}
.timeline .timeline-item {
  background-color: rgba(88,118,146,0.3);
  border: 2px solid #587692;
  clear: both;
  margin: 10px 0;
  min-width: 66.6667%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 20px;
  display: block;
  position: relative;
  text-shadow: none;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.timeline .timeline-item:hover {
  border-color: #98adc8;
  color: #66808c;
  border-style: dotted;
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.timeline .timeline-item:hover:after {
  background-color: #587692;
  border-color: #98adc8;
  z-index: 100;
}
.timeline .timeline-item:hover:before {
  border-top-color: #98adc8;
}
.timeline .timeline-item:hover h5 {
  color: #fff;
}
.timeline .timeline-item:after {
  background-color: #98adc8;
  border: 4px solid #587692;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 15px;
}
.timeline .timeline-item:before {
  border-top: 3px solid #5a7389;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 86px;
}
.timeline .timeline-item h5 {
  color: #a1b7ce;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.timeline .timeline-item .foot {
  display: table;
  font-size: 0.875em;
  list-style: none;
  margin: 15px 0 0 0;
  width: 100%;
}
.timeline .timeline-item .foot li {
  display: table-cell;
}